{% ckan_extends %}

{% block home_image %}
<section class="featured media-overlay hidden-xs">
  <h2 class="media-heading">{% block home_image_caption %}{{ _("Democracia con Códigos fue el proyecto que dio Origen a ODC.") }}{% endblock %}</h2>
  {% block home_image_content %}
    <a class="media-image" href="#">
      <img class="img-responsive" src="{{ h.url_for_static('/base/images/promoted-image.png') }}" alt="Placeholder" width="420" height="220" />
    </a>
  {% endblock %}
</section>
{% endblock %}